:root{
  --container-padding-desktop:15px;
  --container-padding-tablet:10px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
@font-face {
  font-family: "Inter,sans-serif";
  src: url("../fonts/Inter-VariableFont_YTLC\,opsz\,wdth\,wght.woff2")
    format("woff2-variations");
  src: url("../fonts/Inter-VariableFont_YTLC\,opsz\,wdth\,wght.woff2")
    format("woff2") tech("variations");
  font-weight: 300 700;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  color: #000000;
}
.wrapper {
  min-height: 100vh; /* растягиваем на всю высоту окна */
  display: flex; /* делаем флекс-контейнер */
  flex-direction: column; /* вертикальное расположение header → main → footer */
  overflow: hidden;
}
.container {
  max-width: 1286px;
  padding-inline: var(--container-padding-desktop);
  margin-inline: auto;
}
.section {
  margin-bottom: 80px;
}
.header {
  background-color: #a1a483;
}
.header__logo {
  flex-basis: 50%;
}
.header__logo img {
  height: auto;
  width: 190px;
}
.header__inner {
  min-height: 79px;
  padding-block: 12px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.menu {
  display: none;
}
.menu__btn {
  display: none;
  width: 21.75px;
  height: 14.5px;

  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.menu__btn span {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
  border-radius: 20%;
}
.header__nav {
  display: flex;
  gap: 55px;
  justify-content: space-between;
  flex-basis: 50%;
}

.nav__list {
  display: flex;
  gap: 31px;
  flex-wrap: wrap;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}
.header__cart {
  position: relative;
    z-index: 2;
  display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.header__cart::before {
  content: "";
  position: absolute;
  inset: -30px; /* увеличивает область клика на 8px со всех сторон */

}

/* explore */
.explore {
  margin-block: 46px;
}
.explore__inner {
  display: flex;
  background-color: #f6f6f6;
}
.explore__info {
  flex-basis: 50%;

  flex-shrink: 1;
  align-content: center;
  padding-left: 79px;
  text-align: left;
}
.explore__article {
  display: flex;
  flex-direction: column;
  color: #000000;
  max-width: 407px;
}
.explore__article-label {
  margin-bottom: 15px;
}
.article--label {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.35px;
  line-height: 1.3;
  text-transform: uppercase;
}
.explore__article-title {
  margin-bottom: 25px;
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
  word-break: break-word;
}
.explore__article-text {
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 1.5;
}
.explore__img {
  flex-basis: 50%;
}
.explore__img img {
  width: 100%;
  object-fit: cover;
}
/* btn */
.btn {
  display: inline-block;
  background-color: #000;
  color: #ffffff;
  width: 196px;
  position: relative;
  padding: 13px 19px;
  border-radius: 96px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-small {
  width: 196px;
}
.promo__inner {
  padding-bottom: 24px;
  border-bottom: 1px solid #f3f3f3;
}
.promo__inner p {
  text-align: center;
  font-size: 20px;
}
/* CATEGORIES */
.categories {
  margin-block: 46px 80px;
}
.categories__inner {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.categories__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 246px;
  position: relative;
}
.categories__item:nth-child(1) {
  background-color: #e1e4c2;
}
.categories__item:nth-child(2) {
  background-color: #dceeee;
}
.categories__item:nth-child(3) {
  background-color: #f3efe1;
}
.categories__img {
  position: absolute;
  bottom: 0;
}
.categories__card-content {
    position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

}
.categories__card-title {
  margin-top: 48px;
  font-size: 40px;
  max-width: 222px;
}
.categories__item-label {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 1.35px;
  white-space: nowrap;
}
.categories__img img {
  object-fit: contain;
}

/* SECTIIN PARTNERS */
.partners__inner {
  overflow: hidden;
  position: relative;
}
.partners__track {
  display: flex;
  width: max-content;
  animation: move-right 10s linear infinite;
  animation-play-state: running;
}
.partners__list {
  display: flex;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.partners__list li {
  flex: 0 0 auto;
}
.partners__list img {
  object-fit: contain;
  filter: grayscale(1);
  opacity: 0.9;
  transition: opacity 0.2s, filter 0.2s;
}
.partners__list > img:hover {
  filter: none;
  opacity: 1;
}

.partners__inner:hover .partners__track {
  animation-play-state: paused;
}

@keyframes move-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* arrivals */
.arrivals {
  background-image: url("../images/arrival.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 83%; /* ← тут можно корректировать */
  margin: 0 auto 80px;
  font-weight: 400;
  height: 568px;
  max-width: 1366px;
}
.arrivals__inner {
  position: relative;
}
.arrivals__item {
  max-width: 329px;
  position: absolute;
  left: 184px;
  top: 91px;
}
.arrivals__title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.25px;
  color: #ffffff;
}
.arrivals__info {
  display: grid;
  gap: 15px;
}
.arrivals__label {
  color: #ffffff;
}

/* feature */
.features__list {
  display: flex;
  justify-content: space-around;
  gap: 85px;
  align-items: center;
  text-align: center;
}
.features__item {
  max-width: 310px;
  color: #000000;
}
.features__item img {
  margin-bottom: 26px;
  display: inline-block;
}
.features__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.15px;
  margin-bottom: 13px;
}
.features__desc {
  line-height: 1.5;
  letter-spacing: 0.25px;
  padding-inline: 13px;
}
/* solution */
.section--title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
}
.solution__img {
  margin-bottom: 46px;
  object-fit: contain;
}
.solution__content {
  display: flex;
  justify-content: space-between;
}
.solution__info-subtitle {
  font-size: 22px;
  font-weight: 600px;
  margin-bottom: 16px;
}
.solution__info-desc {
  line-height: 1.5;
  max-width: 484px;
  padding-right: 54px;
  letter-spacing: 0.25px;
}
.solution__btn {
  align-self: flex-end;
}
/* SELLERS */
.sellers__inner {
  padding-bottom: 55px;
  border-bottom: 1px solid #f3f3f3;
}
.sellers__item img {
  margin-bottom: 15px;
}
.sellers__list {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(266px, auto));
  gap: 58px 19px;
}
.sellers__btn {
  align-items: flex-end;
}
.sellers__item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sellers__item-title {
  font-weight: 600;
}
.sellers__btn {
  margin-right: 14px;
}
/* FOOTER */

.footer__wrapper {
  background-color: #a1a483;
  padding: 112px 0;
}
.footer__top {
  text-align: center;
  color: #ffffff;
  margin-bottom: 34px;
}
.footer__title {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}
.footer__descp {
  max-width: 595px;
  margin-bottom: 21px;
  margin-inline: auto;
  font-size: 18px;
  line-height: 150%;
}
.footer__legal {
  font-size: 14px;
}
.btn--large {
  width: 262px;
}
.footer__btn {
  margin-bottom: 61px;
}
.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__info {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}
.footer__social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42.6875px;
  height: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 2.25px solid rgba(255, 255, 255, 0.25);
}
.footer__socials {
  display: flex;
  gap: 24px;
}

/* MEDIA!!!!!!!!!!!!!!!!!!! */
@media (max-width: 1365.99px) {
  .section {
    margin-bottom: 60px;
  }
  .container {
    padding-inline: var(--container-padding-tablet);
  }
  .btn {
    font-size: 16px;
  }
  .btn-small {
    max-width: 191px;
  }
  .header__cart{margin-right:6px}
  .header__logo {
    flex-basis: auto;
  }

  .menu {
    order: -1;
    display: block;
  }
  .menu__btn {
    position: relative;
    z-index: 3;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
  }
  /* увеличиваем зону клика */
  .menu__btn::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
  }

  .header__logo img {
    width: clamp(156px, 12vw, 190px);
  }
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    background-color: #a1a483;
    text-align: center;
    transition: transform 0.5s ease;
  }
.header__nav--open{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
  .header__nav{
    z-index: 2;
    display: block;
    transition: transform 0.5s ease;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    padding-block: 88px 22px;
    transition: transform 0.5s ease;
  }
  /* EXPLORE */
  .explore {
    margin-block: 30px;
  }
  .explore__inner {
    flex-direction: column;
    margin-inline:calc(-1 * var(--container-padding-tablet));
  }
  .explore__info {
    padding: 35px 0 38px 33px;
  }
  .explore__article {
    gap: 8px;
  }
  .explore__article-label {
    font-size: 13px;
    margin: 0;
  }
  .explore__article-title {
    font-size: 60px;
    margin: 0;
  }
  .explore__article-text {
    margin-bottom: 16px;
    font-size: 16px;
    max-width: 379px;
  }

  /* PROMO */
  .promo__inner {
    padding-bottom: 12px;
  }
  .promo__inner p {
    font-size: 16px;
  }
  /* CATEGORIES */
  .categories {
    margin-block: 60px;
  }
  .categories__inner {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .categories__item {
    margin-inline:calc(-1*var(--container-padding-tablet));
    flex-direction: row;
    justify-content: flex-start;
    padding: 74px 10px 40px 41px;
  }
  .categories__item-label {
    font-size: 14px;
  }
  .categories__card-content {
    align-items: flex-start;
    text-align: left;
    gap:30px;
  }

  .categories__card-title {
    margin-top: 0;
    font-size: 35px;
  }
  .categories__item-label {
    top: -21px;
    left: 33%;
  }
  .categories__img {
    right: 0;
  }

  /* partners */

  /* ARRIVALS */
  .arrivals {
    height: 373px;
  }
  .arrivals__item {
    max-width: 329px;
    left: 58px;
    top: 51px;
  }
  .arrivals__title {
    margin-bottom: 26px;
    font-weight: 600;
    font-size: 35px;
  }
  .arrivals__info {
    display: grid;
    gap: 18px;
  }
 

  /* FEATURE */
  .features__list {
    flex-direction: column;
    justify-content: center;
    gap: 44px;
  }
  .features__item {
    max-width: 310px;
    color: #000000;
  }
  .features__item img,
  .features__title {
    margin-bottom: 7px;
  }
  .features__desc {
    font-size: 16px;
    padding:5px 17px;
  }
  /* SOLUTION */
  .section--title {
    font-size: 35px;
    margin-bottom: 21px;
  }
  .solution__img {
    margin-bottom: 26px;
  }
  .solution__content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .solution__btn {
    align-self: flex-start;
  }
  .solution__info-subtitle {
    margin-bottom: 9px;
  }
  .solution__info-desc {
    margin-bottom: 23px;
    font-size: 16px;
  }

  /* SELLERS */
  .sellers__inner {
    padding-bottom: 65px;
  }
  .sellers__title{margin-bottom: 32px;}
  .sellers__item img {
    margin-bottom: 13px;
  }
  .sellers__list {
    gap: 27px 17px;
    place-content: space-evenly;
  }
  .sellers__item-title,
  .sellers__item-price {
    font-size: 16px;
  }
  .sellers__btn {
    margin-right: 16px;
  }
  /* FOOTER */
  .footer__wrapper {
    padding-block: 61px 84px;
  }
  .footer__top {
    margin-bottom: 55px;
  }
  .footer__title {
    font-size: 35px;
    margin-bottom: 19px;
  }
  .footer__descp {
    font-size: 16px;
    max-width: 428px;
    margin-bottom: 35px;
  }
  .footer__btn {
    margin-bottom: 25px;
  }
  .footer__info {
    margin-top: 22px;
  }
  .footer__socials{gap:20px;}
  .footer__social {
    width: 35px;
    height: 37px;
  }
  .footer__logo{max-width: 142px;}
}

@media (max-width: 599.99px) {
  .header__inner {padding-inline: 23px 6px}
  .section {
    margin-bottom: 40px;
  }
  .section--title {
    font-size: 24px;
    margin-bottom: 24px;
    max-width: 211px;
    margin-inline: auto;
  }
  /* HEADER */
  .header__logo img {
    width: 103px;
  }
      .header__cart {
        margin-right: 0px;}
  /* explore */
  .explore {
    margin-block: 0 20px;
  }
  .explore__info {
    flex: 6;
    padding: 29px 0 45px 23px;
  }
  .explore__article {
    gap: 7px;
  }
  .article--label {
    font-size: 10px;
  }
  .explore__article-title {
    font-size: 40px;
    max-width: 248px;
  }

  .explore__article-text {
    margin-bottom: 11px;
    font-size: 12px;
    max-width: 255px;
  }
  .btn {
    font-size: 12px;
    max-width: 144px;
  }
  /* PROMO  */
  .promo__inner {
    padding-bottom: 15px;
  }
  .promo__inner p {
    font-size: 10px;
  }
  /* CATEGORIES */
  .categories {
    margin-block: 40px;
  }
  .categories__inner {
    gap: 0;
  }
  .categories__item {
    flex-direction: row;
    justify-content: flex-start;
    padding: 61px 0px 24px 22px;
  }
  .categories__item-label {
    font-size: 10px;
    left: 38%;
    top: -35px;
  }
  .categories__card-title {
    font-size: 24px;
  }

  .categories__card-title {
    max-width: 130px;
  }
  .categories__card-content  {
    max-width: 156px;
    gap: 8px;
  }
  .categories__img {
    max-width: 155px;
  }
  .categories__card-btn {
    max-width: 156px;
  }
  /* PARTNERS */
  .partners__list img {
    max-height: 19px;
  }
  .arrivals {
    background-position: center 93%;
    height: 243px;
  }
  .arrivals__info {
    gap: 12px;
  }
  .arrivals__title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .arrivals__item {
    top: 39px;
    left: 10px;
    max-width: 190px;
  }
  /* FEATURES */

  .features__list {
    gap: 31px;
  }
  .features__item {
    max-width: 310px;
    color: #000000;
  }
  .features__item img {
    margin-bottom: 10px;
    max-width: 60px;
    max-height: 60px;
  }
  .features__title {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .features__desc {
    font-size: 12px;
    padding-inline: 13px;
    padding-block: 13px 15px;
  }

  /* SOLUTION*/
  .solution__img {
    margin-bottom: 12px;
  }
  .solution__btn {
    align-self: flex-start;
  }
  .solution__info-subtitle {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .solution__info-desc {
    margin-bottom: 25px;
    font-size: 12px;
  }
  /* SELLERS */
  .sellers__title {
    margin-bottom: 17px;
  }
  .sellers__inner {
    padding-bottom: 26px;
  }
  .sellers__list {
    gap: 8px 9px;
    grid-template-columns: repeat(auto-fit, minmax(139px, auto));
  }
  .sellers__item img {
    margin-bottom: 7px;
  }
  .sellers__item-title {
    font-size: 12px;
  }
  .sellers__item-price {
    font-size: 10px;
  }
  .sellers__btn {
    max-height: 24px;
    max-width: 24px;
    margin-right: 0;
  }
  /* FOOTER */
  .footer__wrapper {
    padding-block: 39px 53px;
  }
  .footer__top {
    margin-bottom: 16px;
    max-width: 266px;
    margin-inline: auto;
  }
  .footer__title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .footer__descp {
    font-size: 12px;
    margin-bottom: 17px;
  }
  .footer__btn {
    margin-bottom: 20px;
  }
  .btn--large {
    max-width: 177px;
  }
  .footer__info {
    margin-top: 21px;
    flex-direction: column;
    align-items: center;
    gap: 29px;
  }
  .footer__logo {
    max-width: 93px;
  }
  .footer__socials {
    gap: 17px;
  }
  .footer__social {
    width: 32px;
    height: 34px;
  }
}
/* .explore__img{aspect-ratio: 300 / 256;} */
